<footer class="bg-gray-600/5 mt-64 border-t-2 border-t-white/10">
  <div
    class="container mx-auto flex flex-wrap justify-between items-center p-6"
  >
    <p class="w-full text-sm lg:text-left">
      © 2024 Miguel_ae. Miguel Ángel Pérez Morales
    </p>


  </div>
</footer>
